<!DOCTYPE html>
<html lang="en">
<head>   
     <%- include('../partials/head') %> 
    <title>first page</title>
</head>
<body>

    <%- include('../partials/header') %> 

    <ul class="allMovies">
        <% movies.forEach((item) =>{%>
            <li>
                <img class="image" src = "<%= `https://image.tmdb.org/t/p/w200/${item.poster_path}`%>"  >
                <div class="title">  <%=  item.title%> </div>
                <div class="main"><%=item.overview  %> </div>
            </li>


        <% }) %> 
    </ul>
</body>
</html>


